:host {
    all: initial
}

.selected-menu-box {
    border: 1px solid #e5e7eb;
    border-radius: 9999px;
    z-index: 10000;
    position: absolute;
    cursor: pointer;
    background: #FFF;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
    padding: 10px 15px 9px 16px;
    display: block;
}

.selected-menu-box a {
    border-radius: 9999px;
}

.selected-menu-box a,
.selected-menu-box a:hover,
.selected-menu-box a:visited {
    text-decoration: none;
    color: #333;
    float: left;
}

.selected-menu-box a:hover {
    background-color: gray;
}

.selected-menu-box span {
    overflow: hidden;
    float: left;
    font-family: Arial, MicrosoftYaHei;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 64px;
    line-height: 32px;
    margin-right: 8px;
    color: #333;
}

.selected-menu-box .c-icon {
    float: left;
    transform: scale(.5);
    width: 32px;
    height: 32px;
}

.selected-menu-box .c-icon-copy {
    background: url('chrome-extension://__MSG_@@extension_id__/images/icons.png') no-repeat  -114px -62px;
}

.selected-menu-box .c-icon-bing-serp {
    background: url('chrome-extension://__MSG_@@extension_id__/images/icons.png') no-repeat -114px -114px;
}

.selected-menu-box .c-icon-bing-ai {
    background: url('chrome-extension://__MSG_@@extension_id__/images/icons.png') no-repeat -62px -10px;
}

.selected-menu-box .c-icon-google-serp {
    background: url('chrome-extension://__MSG_@@extension_id__/images/icons.png') no-repeat -10px -114px;
}

.selected-menu-box .c-icon-duckduckgo-serp {
    background: url('chrome-extension://__MSG_@@extension_id__/images/icons.png') no-repeat -114px -10px;
}